<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
<table>
    <tr>
        <td>姓名</td>
        <td>年龄</td>
    </tr>
    <tr>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    <form method="POST" enctype="multipart/form-data" action="/file/upload">
        文件：<input type="file" name="wsjFile" />
        <input type="submit" value="上传" />
    </form>
</table>
</body>
</html>

